.containeratracoes{
    min-height: 70vh;
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-direction: column;

    background-color: #00485b;
    gap: 30px;
}
.containerCards{
    width: 100%;
    max-width: 1550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.containeratracoes {
    background-color: #00485b;
    padding: 40px 20px;
    text-align: center;
    color: white;
  }
  
  .titulo {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Russo One", sans-serif;
    letter-spacing: 3px;
  }
  
  .titulo span {
    color: #ff7a00; /* Laranja */
  }

  .Card1{
    transform: rotate(1.1);
  }
 


