.sessaoGamer{
    width:80%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}


.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
}

.lottieIcon {
  width: 35vw;
  max-width: 900px; /* Limita a largura máxima do ícone */
  height: auto;
  flex-shrink: 0; /* Garante que o ícone não encolha demais */
}

.containerInformacoes{
    width: 100%;
    max-width: 700px;
}

.tituloEvento {
  color: #ffffff;
  font-family: "Russo One", sans-serif;
  font-weight: 600;
  font-size: 3.2rem; 
  line-height: 1.2; 
  
}
.containerInformacoes span {
  color: #ff7a00;
}
.descricao{
  color: #ffffff;
  font-size: 1.3rem;
}

.containerJogos{
  justify-content: center;
  display: flex;
  width: 100%;
  max-width: 1600px;
  gap: 20px;
  flex-wrap: wrap;
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
  .sessaoGamer {
    padding: 30px;
  }

  

  .tituloEvento {
    font-size: 2.8rem;
  }
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .lottieIcon {
    width: 50vw;
    margin-bottom: 30px;
  }

  

  .descricao {
    font-size: 1.2rem;
    text-align: start;
  }
}

@media (max-width: 768px) {
  .sessaoGamer {
    padding: 0px;
  }

  .lottieIcon {
    width: 80vw; /* Adjust width for smaller screens */
    
  }

  .containerInformacoes {
    width: 100%; /* Ensure containerInformacoes takes full width when lottieIcon is hidden */
    max-width: 100%;
  }
  
  .descricao {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {


  .tituloEvento span {
    font-size: 2rem;
  }
  .tituloEvento {
    font-size: 3rem;
    line-height: 1.1; /* Adjust line height for better readability */
    margin-bottom: 20px; /* Add margin for spacing */
    text-align: center; /* Center title on small screens */
  }

  .descricao {
    font-size: 1rem;
    text-align: start;
  }
  .containerInformacoes{
    width: 100%;
}

}

@media (max-width: 400px) {
  .tituloEvento {
    font-size: 4rem;    
  }
  .tituloEvento span {
    font-size: 1.3rem;
    
  }
  
}