.countdownContainer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Russo One", sans-serif;
  letter-spacing: 2px;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.timer div {
  background: #00485b;
  padding: 0.75rem 1.2rem;
  border-radius: 12px;
  width: 120px;
  flex: 1 1 100px;
  text-align: center;
}

.timer strong {
  display: block;
  font-size: 3rem;
  color: #ffd080;
}

.timer span {
  font-size: 0.8rem;
  color: #ffffff;
}


@media (max-width: 600px) {
  .timer {
    gap: 0.5rem;
  }

  .timer div {
    padding: 0.5rem 1rem;
  }

  .timer strong {
    font-size: 2.5rem;
  }

  .timer span {
    font-size: 0.7rem;
  }

  .countdownContainer {
    padding: 1rem;
  }
}
