.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  max-width: 350px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card:hover {
  transform: scale(102%);
}

.topStrip {
  width: 100%;
  height: 4px; /* Approximately 1% of 400px min-height */
  /* The background-color will be set inline via prop */
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.card:hover .image {
  transform: scale(1.5);
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: start;
  position: relative;
  height: 50%;
}

.content h3 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Russo One', sans-serif;
}

.content p {
  font-size: 0.95rem;
  /* color: #444; This will now be overridden by the inline style if descricaoColor is provided */
  line-height: 1.4;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  bottom: 10%;
}

.horario {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  color: #555;
}

.button {
  background-color: #00485b;
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #006b81;
}