.SideBarContainer {
    width: 100vw;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    padding: 0 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto para melhorar a legibilidade */
  }
  
  .contentLimitado {
    width: 100%;
    max-width: 1700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
  }
  
  .logo {
    height: 40px;
    width: auto;
    
  }
  
  .navContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  
  .bntSideBar {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out; /* Suaviza a transição */
  }
  
  .bntSideBar:hover {
    transform: scale(1.1);
  }
  
  .icon {
    height: 20px;
    width: auto;
  }
  
  .menuIcon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transição suave ao exibir o ícone */
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }
  
  @media (max-width: 970px) {
    .navContainer {
      display: none;
    }
  
    .menuIcon {
      display: flex;
    }
  
    .mobileMenuOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 200;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .mobileMenu {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 40px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  
    .bntSideBarMobile {
      background: none;
      border: none;
      font: inherit;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.2em;
      transition: transform 0.2s;
    }
  
    .bntSideBarMobile:hover {
      transform: scale(1.1);
    }
  
    .closeBtn {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 2em;
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
  